<!--Header-->
<header>
    <div class="white">
        <div class="container">
            <div class="row">
                <h1>DONALD TRUMP</h1><h2>The 45th President of the United States</h2>
            </div>
        </div>
    </div>
</header>

<!--Skills-->
<div class="container white-bg">
    <div class="row">
       <h1>Skills</h1>
        <div class="col-md-3 col-xs-12 space"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
<h3>Being Right</h3><p>'Cause I said so.</p></div>
        <div class="col-md-3 col-xs-12 space"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
<h3>Not Being Wrong</h3><p>Unlike you.</p></div>
        <div class="col-md-3 col-xs-12 space"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<h3>Good Looks</h3><p>Just look at me, my goodness am I attractive.</p></div>
        <div class="col-md-3 col-xs-12 space"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
<h3>Money</h3><p>Dolla Dolla billz ya'll</p></div>
    </div>
</div>


<!--Achievments-->